.subtitle {
  margin-bottom: 50px;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
button .material-icons {
  font-size: 40px;
  font-weight: 100;
  color: #ccc;
}

#mainVisual {
  width: 100%;
  position: relative;
  padding-top: 130px;
}
#mainVisual ul li {
  width: 100%;
  height: 71.5vh;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
}
#mainVisual ul li.visual01 video {
  width: 100%;
  object-fit: cover;
}
#mainVisual ul li.visual02 {
  background-image: url(../images/main/mainVisual03.jpg);
}
#mainVisual ul li.visual03 {
  background-image: url(../images/main/mainVisual02.jpg);
}
#mainVisual ul li.visual04 {
  background-image: url(../images/main/mainVisual01.jpg);
}
#mainVisual ul li .textBox {
  width: 100%;
  text-align: center;
  margin: 0 auto 80px auto;
  color: #fff;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#mainVisual ul li .textBox h2 {
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 700;
  pointer-events: none;
  font-family: "Montserrat";
}
#mainVisual ul li .textBox p {
  margin-top: 30px;
  font-size: 17px;
  line-height: 1.5;
  font-weight: 400;
  pointer-events: none;
}
#mainVisual ul li .textBox a {
  margin-top: 60px;
}
#mainVisual ul li .textBox a:hover span:before {
  width: 100%;
  right: 0;
  transition-delay: 0.3s;
}
#mainVisual ul li .textBox a:hover span:after {
  width: 0;
  right: 0;
  transition-delay: 0.1s;
}
#mainVisual ul li .textBox a span {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: -0.05em;
  display: inline-block;
  position: relative;
}
#mainVisual ul li .textBox a span::before {
  content: "";
  background-color: #fff;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -10px;
  left: 0;
  transition: width 0.15s ease-in-out;
}
#mainVisual ul li .textBox a span::after {
  content: "";
  background-color: #fff;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -10px;
  right: 0;
  transition: width 0.15s ease-in-out;
}
#mainVisual .btns button {
  position: absolute;
  top: 55%;
  z-index: 100;
  border: 3px solid rgba(230, 230, 230, 0.3);
  width: 48px;
  height: 48px;
  border-radius: 50px;
  background: none;
  transition: all 0.25s ease-in-out;
}
#mainVisual .btns button::before {
  font-family: "Material icons";
  font-size: 24px;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20%;
}
#mainVisual .btns button:after {
  font-family: "Material icons";
  font-size: 24px;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}
#mainVisual .btns button:hover {
  width: 110px;
  border: 2px solid #fff;
}
#mainVisual .btns button:hover::before {
  display: none;
}
#mainVisual .btns button:hover::after {
  display: block;
}
#mainVisual .btns button:hover.prev span {
  opacity: 1;
  left: 50%;
}
#mainVisual .btns button:hover.next span {
  opacity: 1;
  right: 50%;
}
#mainVisual .btns button.prev {
  left: 4%;
}
#mainVisual .btns button.prev::before {
  content: "\e5cb";
}
#mainVisual .btns button.prev::after {
  content: "\e5cb";
  left: 20%;
}
#mainVisual .btns button.prev span {
  left: 0;
}
#mainVisual .btns button.next {
  right: 4%;
}
#mainVisual .btns button.next::before {
  content: "\e5cc";
}
#mainVisual .btns button.next::after {
  content: "\e5cc";
  right: 20%;
}
#mainVisual .btns button.next span {
  right: 0;
}
#mainVisual .btns button span {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease;
}
#mainVisual .pagination {
  position: absolute;
  bottom: 7.5%;
  text-align: center;
  z-index: 100;
}
#mainVisual .pagination .swiper-pagination-bullet {
  width: 27px;
  height: 6px;
  border-radius: 0;
  background-color: #fff;
}
#mainVisual .pagination .swiper-pagination-bullet-active {
  border-radius: 50px;
}

#update .container {
  position: relative;
  margin-top: 100px;
  margin-bottom: 130px;
}
#update .container #new {
  position: relative;
}
#update .container #new .search {
  transition: background-color 0.5s ease-in-out;
  border: 3px solid #000;
  display: block;
  width: 100%;
  height: 110px;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border-radius: 120px;
  z-index: 0;
  pointer-events: none;
}
#update .container #new .search:hover {
  background-color: #000;
  color: #fff;
}
#update .container #new .search ul li {
  width: 100%;
}
#update .container #new .search ul li a {
  width: 100%;
  display: block;
  height: 110px;
  line-height: 110px;
}
#update .container #new .search ul li a .textBox {
  display: flex;
}
#update .container #new .search ul li a .textBox .title {
  font-size: 22px;
  font-weight: 700;
  margin-left: 70px;
}
#update .container #new .search ul li a .textBox .desc {
  font-size: 22px;
  margin-left: 130px;
  position: relative;
}
#update .container #new .search ul li a .textBox .desc::before {
  content: "";
  display: block;
  height: 18px;
  width: 1px;
  background-color: #ccc;
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
}
#update .container #new .search ul li a::after {
  content: "\f1df";
  font-family: "Material Icons";
  font-size: 35px;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
}
#update .container #new .search ul li a:hover::after {
  color: #fff;
  animation: arrowAni 0.7s 1;
}
#update .container .nav {
  position: absolute;
  top: 30%;
  right: 0;
  display: flex;
  align-items: center;
}
#update .container .nav button {
  padding: 0;
}
#update .container .nav .pagination {
  color: #9a9a9d;
  width: auto;
  font-size: 22px;
  font-weight: 500;
}

#business {
  background-color: #f9f9f9;
}
#business .container {
  padding-top: 130px;
  padding-bottom: 80px;
}
#business .container .titleBox {
  display: flex;
  margin-bottom: 50px;
}
#business .container .titleBox .title::before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 18px;
  background-color: #ccc;
  position: absolute;
  top: -30px;
  left: 50%;
}
#business .container .titleBox .title h2 {
  font-size: 55px;
  color: #ccc;
}
#business .container .titleBox .title.tradeTitle {
  position: relative;
  margin-right: 40px;
}
#business .container .titleBox .title.tradeTitle.on h2 {
  color: #d6000e;
}
#business .container .titleBox .title.tradeTitle.on::before {
  background-color: #d6000e;
}
#business .container .titleBox .title.medicineTitle {
  position: relative;
}
#business .container .titleBox .title.medicineTitle.on h2 {
  color: #2d5ffd;
}
#business .container .titleBox .title.medicineTitle.on::before {
  background-color: #2d5ffd;
}
#business .container .pannel {
  display: none;
}
#business .container .pannel.on {
  display: block;
}
#business .container .pannel .contentsWrap .textBox p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}
#business .container .pannel .contentsWrap .textBox a {
  font-size: 15px;
  padding: 20px 25px;
  border: 3px solid #dddddd;
  box-sizing: border-box;
  font-weight: 700;
  margin-bottom: 80px;
  display: inline-block;
  transition: all 0.5s ease-in-out;
}
#business .container .pannel .contentsWrap .textBox a:hover {
  border-radius: 150px;
}
#business .container .pannel .contentsWrap .textBox a:hover.red {
  border-color: #d6000e;
}
#business .container .pannel .contentsWrap .textBox a:hover.blue {
  border-color: #2d5ffd;
}
#business .container .pannel .contentsWrap .contents .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#business .container .pannel .contentsWrap .contents .list li {
  position: relative;
}
#business .container .pannel .contentsWrap .contents .list li a:hover.zoom img {
  transition: all 0.7s ease-in-out;
  transform: scale(1.05);
}
#business .container .pannel .contentsWrap .contents .list li a .imgBox {
  overflow: hidden;
}
#business .container .pannel .contentsWrap .contents .list li a p {
  font-size: 20px;
  text-align: center;
  margin: 25px 0 50px 0;
  font-weight: 500;
}
#business .container .pannel .contentsWrap .contents .list li a p.letter {
  position: absolute;
  color: #fff;
  font-weight: 700;
  line-height: 1.5;
  font-size: 22px;
}
#business .container .pannel .contentsWrap .contents .list li .box {
  display: block;
  width: 361px;
  height: 361px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#business .container .pannel .contentsWrap .contents .list li .box span {
  font-weight: 700;
  font-size: 40px;
  display: inline-block;
}
#business .container .pannel .contentsWrap#trading .box span {
  color: #d6000e;
}
#business .container .pannel .contentsWrap#trading .letter {
  bottom: 20%;
  left: 10%;
  text-align: left;
}
#business .container .pannel .contentsWrap#medicine a .imgBox {
  border-radius: 100%;
}
#business .container .pannel .contentsWrap#medicine a .imgBox img {
  border-radius: 100%;
  width: 360px;
  height: 360px;
}
#business .container .pannel .contentsWrap#medicine .box span {
  color: #2d5ffd;
}
#business .container .pannel .contentsWrap#medicine .letter {
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

#recommend {
  padding: 120px 0 160px 0;
}
#recommend .container .title {
  margin-bottom: 70px;
}
#recommend .container .inner {
  width: 100%;
  position: relative;
}
#recommend .container .inner .bar {
  display: flex;
}
#recommend .container .inner .bar .list .selectBar {
  border: 3px solid #dedede;
  display: flex;
  border-radius: 45px;
  margin-right: 20px;
  width: 240px;
  height: 90px;
  padding: 0 40px;
  transition: border-color 0.25s ease-in-out;
  align-items: center;
  justify-content: space-between;
}
#recommend .container .inner .bar .list .selectBar:hover {
  border-color: #000;
}
#recommend .container .inner .bar .list .selectBar::after {
  content: "\e5cf";
  font-family: "Material Icons";
  font-weight: 500;
  font-size: 30px;
}
#recommend .container .inner .bar .list .selectBar:active:after {
  transform: rotate(-180deg);
}
#recommend .container .inner .bar .list .selectBar span {
  display: flex;
  font-size: 20px;
  font-weight: 700;
}
#recommend .container .inner .bar .list .selectBar.open {
  border-color: #000;
  border-bottom: none;
  border-radius: 45px 45px 0 0;
}
#recommend .container .inner .bar .list .selectList {
  display: none;
  position: absolute;
  z-index: 99;
  border: 3px solid #000;
  width: 240px;
  height: 210px;
  border-radius: 0 0 50px 50px;
  border-top: none;
}
#recommend .container .inner .bar .list .selectList.open {
  display: block;
}
#recommend .container .inner .bar .list .selectList ul li {
  font-weight: 500;
  font-size: 20px;
  padding: 25px 40px 0 40px;
}
#recommend .container .inner .bar .list .selectList ul li .etc {
  display: block;
  color: #9a9a9d;
  transition: all 0.25s ease-in-out;
}
#recommend .container .inner .bar .list .selectList ul li .etc:hover {
  color: #000;
}
#recommend .container .inner .bar .list .selectList ul li .all {
  color: #000;
  display: block;
}
#recommend .container .inner .bar .textBox {
  background-color: #f4f4f4;
  height: 90px;
  flex-grow: 1;
  margin-right: 10px;
  box-sizing: border-box;
  border-radius: 100px 0 0 100px;
  padding-left: 30px;
  display: flex;
  justify-content: flex-start;
}
#recommend .container .inner .bar .textBox input {
  font-size: 20px;
  font-family: "Noto Sans KR", sans-serif;
  background: none;
  border: none;
  width: 100%;
  outline: none;
  font-weight: 500;
}
#recommend .container .inner .bar .textBox input:focus::placeholder {
  color: transparent;
}
#recommend .container .inner .bar .search button {
  height: 90px;
  width: 200px;
  background-color: #000;
  border-radius: 0 100px 100px 0;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
#recommend .container .inner .tagList {
  margin: 30px 50px 0 0;
  justify-content: flex-end;
  display: flex;
  font-weight: 500;
  font-family: "Noto Sans KR", sans-serif;
}
#recommend .container .inner .tagList span {
  font-size: 18px;
  margin-right: 30px;
  font-weight: 600;
}
#recommend .container .inner .tagList ul {
  display: flex;
}
#recommend .container .inner .tagList ul li {
  margin-right: 20px;
  color: #9a9a9d;
}
#recommend .container .inner .tagList ul li:hover {
  color: #000;
}

@keyframes arrowAni {
  0% {
    opacity: 0.5;
    right: 20px;
  }
  50% {
    opacity: 0;
    right: 70px;
  }
  100% {
    opacity: 1;
    right: 50px;
  }
}