.subtitle {
  margin-bottom: 50px;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  word-break: keep-all;
}
h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
}
p {
  word-break: keep-all;
}
#mainVisual {
  width: 100vw;
  position: relative;
  padding-top: 130px;
  ul {
    li {
      display: flex;
      width: 100%;
      height: 71.5vh;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      &.visual01 video {
        width: 100%;
        object-fit: cover;
      }
      &.visual02 {
        background-image: url(../images/main/mainVisual03.jpg);
      }
      &.visual03 {
        background-image: url(../images/main/mainVisual02.jpg);
      }
      &.visual04 {
        background-image: url(../images/main/mainVisual01.jpg);
      }
      .textBox {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin: 0 auto 80px auto;
        text-align: center;
        color: #fff;
        user-select: none;
        h2 {
          font-family: "Montserrat";
          font-size: 70px;
          font-weight: 700;
          text-transform: uppercase;
          pointer-events: none;
        }
        p {
          margin-top: 30px;
          font-size: 17px;
          font-weight: 400;
          line-height: 1.5;
          pointer-events: none;
        }
        a {
          margin-top: 60px;
          &:hover {
            span:before {
              width: 100%;
              right: 0;
              transition-delay: 0.3s;
            }
            span:after {
              width: 0;
              right: 0;
              transition-delay: 0.1s;
            }
          }
          span {
            display: inline-block;
            position: relative;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: -0.05em;
            text-transform: uppercase;
            &::before {
              width: 0;
              height: 2px;
              position: absolute;
              bottom: -10px;
              left: 0;
              transition: width 0.15s ease-in-out;
              content: "";
              background-color: #fff;
            }
            &::after {
              width: 100%;
              height: 2px;
              position: absolute;
              right: 0;
              bottom: -10px;
              transition: width 0.15s ease-in-out;
              content: "";
              background-color: #fff;
            }
          }
        }
      }
      // &.swiper-slide-active {
      //   h2 {
      //     opacity: 1;
      //     transform: translateY(0);
      //   }
      //   p {
      //     opacity: 1;
      //     transform: translateY(0);
      //   }
      //   a {
      //     opacity: 1;
      //     transform: translateY(0);
      //   }
      // }
    }
  }
  .btns {
    button {
      width: 48px;
      height: 48px;
      position: absolute;
      top: 55%;
      z-index: 100;
      border: 3px solid rgba(230, 230, 230, 0.3);
      background: none;
      transition: all 0.25s ease-in-out;
      border-radius: 50px;
      &::before {
        position: absolute;
        top: 50%;
        left: 20%;
        font-family: "Material icons";
        font-size: 24px;
        color: rgba(255, 255, 255, 0.5);
        transform: translateY(-50%);
      }
      &:after {
        display: none;
        position: absolute;
        top: 50%;
        font-family: "Material icons";
        font-size: 24px;
        color: #fff;
        transform: translateY(-50%);
      }
      &:hover {
        width: 110px;
        border: 2px solid #fff;
        &::before {
          display: none;
        }
        &::after {
          display: block;
        }
        &.prev span {
          left: 50%;
          opacity: 1;
        }
        &.next span {
          right: 50%;
          opacity: 1;
        }
      }
      &.prev {
        left: 4%;
        &::before {
          content: "\e5cb";
        }
        &::after {
          left: 20%;
          content: "\e5cb";
        }
        span {
          left: 0;
        }
      }
      &.next {
        right: 4%;
        &::before {
          content: "\e5cc";
        }
        &::after {
          right: 20%;
          content: "\e5cc";
        }
        span {
          right: 0;
        }
      }
      span {
        position: absolute;
        top: 50%;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        transform: translateY(-50%);
        opacity: 0;
        transition: all 0.3s ease;
      }
    }
  }
  .pagination {
    position: absolute;
    bottom: 7.5%;
    z-index: 100;
    text-align: center;
    .swiper-pagination-bullet {
      width: 27px;
      height: 6px;
      border-radius: 0;
      background-color: #fff;
    }
    .swiper-pagination-bullet-active {
      border-radius: 50px;
    }
  }
}

#update {
  .container {
    position: relative;
    margin-top: 100px;
    margin-bottom: 130px;
    #new {
      position: relative;
      .search {
        display: block;
        width: 100%;
        height: 100%;
        border: 3px solid #000;
        box-sizing: border-box;
        transition: background-color 0.5s ease-in-out;
        border-radius: 120px;
        pointer-events: none;
        &:hover {
          color: #fff;
          background-color: #000;
        }
        ul {
          li {
            width: 100%;
            padding-right: 100px;
            box-sizing: border-box;
            a {
              display: block;
              width: 100%;
              height: 110px;
              line-height: 110px;
              .textBox {
                display: flex;
                font-size: 22px;
                .title {
                  width: 200px;
                  position: relative;
                  margin-left: 70px;
                  padding-right: 50px;
                  font-weight: 700;
                  &:after {
                    display: block;
                    width: 1px;
                    height: 18px;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    content: "";
                    background-color: #ddd;
                  }
                }
                .desc {
                  position: relative;
                  overflow: hidden;
                  margin-left: 30px;
                  letter-spacing: -2px;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  word-break: break-all;
                  &::before {
                    display: block;
                    width: 1px;
                    height: 18px;
                    position: absolute;
                    top: 50%;
                    left: -30px;
                    transform: translateY(-50%);
                    content: "";
                    background-color: #ccc;
                  }
                }
              }
              &::after {
                position: absolute;
                top: 50%;
                right: 50px;
                font-family: "Material Icons";
                font-size: 35px;
                color: #000;
                transform: translateY(-50%);
                transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
                content: "\f1df";
              }
              &:hover::after {
                color: #fff;
                animation: arrowAni 0.7s 1;
              }
            }
          }
        }
      }
    }
    .nav {
      display: flex;
      align-items: center;
      position: absolute;
      top: 30%;
      right: 0;
      button {
        padding: 0;
      }
      .pagination {
        width: auto;
        font-size: 22px;
        font-weight: 500;
        color: #9a9a9d;
      }
    }
  }
}

#business {
  background-color: #f9f9f9;
  .container {
    padding-top: 130px;
    padding-bottom: 80px;
    .titleBox {
      display: flex;
      margin-bottom: 50px;
      .title {
        &::before {
          display: block;
          width: 9px;
          height: 9px;
          position: absolute;
          top: -30px;
          left: 50%;
          content: "";
          border-radius: 100%;
          background-color: #ccc;
        }
        h2 {
          font-size: 55px;
          color: #ccc;
        }
        &.tradeTitle {
          position: relative;
          margin-right: 40px;
          &.on {
            h2 {
              color: #d6000e;
            }
            &::before {
              background-color: #d6000e;
            }
          }
        }
        &.medicineTitle {
          position: relative;
          &.on {
            h2 {
              color: #2d5ffd;
            }
            &::before {
              background-color: #2d5ffd;
            }
          }
        }
      }
    }
    .pannel {
      display: none;
      &.on {
        display: block;
      }
      .contentsWrap {
        .textBox {
          p {
            margin-bottom: 30px;
            font-size: 18px;
            line-height: 1.5;
            word-break: keep-all;
          }
          a {
            display: inline-block;
            margin-bottom: 80px;
            padding: 20px 25px;
            border: 3px solid #dddddd;
            box-sizing: border-box;
            font-size: 15px;
            font-weight: 700;
            transition: all 0.5s ease-in-out;
            &:hover {
              border-radius: 150px;
              &.red {
                border-color: #d6000e;
              }
              &.blue {
                border-color: #2d5ffd;
              }
            }
          }
        }
        .contents {
          .list {
            display: flex;
            flex-wrap: wrap;
            li {
              width: calc(25% - 34px);
              position: relative;
              margin-right: 45px;
              &:nth-child(4) {
                margin-right: 0;
              }
              &:nth-child(8) {
                margin-right: 0;
              }
              a {
                &:hover {
                  &.zoom img {
                    transform: scale(1.05);
                    transition: all 0.7s ease-in-out;
                  }
                }
                p {
                  margin: 25px 0 50px 0;
                  font-size: 20px;
                  font-weight: 500;
                  text-align: center;
                  &.letter {
                    position: absolute;
                    font-size: clamp(16px, 1.1vw, 22px);
                    font-weight: 700;
                    color: #fff;
                    line-height: 1.5;
                  }
                }
              }
              .imgBox {
                position: relative;
                &:before {
                  display: block;
                  padding-top: 100%;
                  content: "";
                }
                img {
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  top: 0;
                  left: 0;
                  object-fit: cover;
                }
              }
              .box {
                position: relative;
                &::before {
                  display: block;
                  padding-top: 100%;
                  content: "";
                }
                .boxInner {
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  top: 0;
                  left: 0;
                  span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    font-size: clamp(30px, 2vw, 40px);
                    font-weight: 700;
                    transform: translate(-50%, -50%);
                  }
                }
              }
            }
          }
        }
        &#trading {
          .box span {
            color: #d6000e;
          }
          .letter {
            bottom: 20%;
            left: 10%;
            text-align: left;
          }
        }
        &#medicine {
          a {
            .imgBox {
              border-radius: 100%;
              img {
                border-radius: 100%;
              }
            }
          }
          .box span {
            color: #2d5ffd;
          }
          .letter {
            top: 25%;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
          }
        }
      }
    }
  }
}

#recommend {
  padding: 120px 0 160px 0;
  .container {
    .title {
      margin-bottom: 70px;
    }
    .inner {
      width: 100%;
      position: relative;
      .bar {
        display: flex;
        height: 90px;
        .list {
          flex-basis: 17%;
          li {
            width: 100%;
            .selectBtn {
              display: block;
              width: 90%;
              height: 90px;
              position: relative;
              padding: 0 40px;
              border: 3px solid #dedede;
              transition: border-color 0.25s ease-in-out;
              border-radius: 45px;
              &:hover {
                border-color: #000;
              }
              &::after {
                position: absolute;
                top: 50%;
                right: 10%;
                font-family: "Material Icons";
                font-size: 30px;
                font-weight: 500;
                transform: translateY(-50%) rotate(0);
                content: "\e5cf";
              }
              span {
                display: flex;
                font-size: 20px;
                font-weight: 700;
              }
              &.open {
                border-bottom: none;
                border-color: #000;
                border-radius: 45px 45px 0 0;
                &::after {
                  transform: translateY(-50%) rotate(-180deg);
                }
              }
            }
            .selectList {
              display: none;
              width: 90%;
              height: 210px;
              border: 3px solid #000;
              border-top: none;
              border-radius: 0 0 50px 50px;
              background-color: #fff;
              &.open {
                display: block;
              }
              li {
                padding: 25px 40px 0 40px;
                font-size: 20px;
                font-weight: 500;
                .etc {
                  display: block;
                  color: #9a9a9d;
                  transition: all 0.25s ease-in-out;
                  &:hover {
                    color: #000;
                  }
                }
                .all {
                  display: block;
                  color: #000;
                }
              }
            }
          }
        }
        .textBox {
          display: flex;
          justify-content: flex-start;
          flex-basis: 70%;
          margin-right: 10px;
          padding-left: 30px;
          box-sizing: border-box;
          background-color: #f4f4f4;
          border-radius: 100px 0 0 100px;
          input {
            width: 100%;
            border: none;
            font-family: "Noto Sans KR", sans-serif;
            font-size: 20px;
            font-weight: 500;
            background: none;
            outline: none;
            &:focus {
              &::placeholder {
                color: transparent;
              }
            }
          }
        }
        .search {
          flex-basis: 13%;
          height: 100%;
          .searchBtn {
            width: 100%;
            height: 100%;
            font-size: 20px;
            font-weight: 700;
            color: #fff;
            background-color: #000;
            border-radius: 0 100px 100px 0;
          }
          .mobileSearchBtn {
            display: none;
          }
        }
      }
      .tagList {
        display: flex;
        justify-content: center;
        margin: 30px 0 0 120px;
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 500;
        span {
          margin-right: 30px;
          font-weight: 600;
          word-break: keep-all;
        }
        ul {
          display: flex;
          li {
            margin-right: 20px;
            color: #9a9a9d;
            word-break: keep-all;
            &:hover {
              color: #000;
            }
          }
        }
      }
    }
  }
}

#newsSns {
  padding: 120px 0;
  background-color: #f9f9f9;
  .container {
    display: flex;
    justify-content: space-between;
    #news {
      .title {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 40px;
        a {
          display: flex;
          align-items: center;
          font-size: clamp(14px, 0.8vw, 16px);
          font-weight: 700;
          color: #bbb;
          transition: all 0.25s ease;
          &:hover {
            color: #000;
          }
        }
      }
      .mainNews {
        .newsList {
          display: flex;
          li {
            &:nth-child(1) {
              margin-right: 30px;
            }
            a {
              display: block;
              width: clamp(250px, 20vw, 361px);
              &:hover img {
                transform: scale(1.1);
              }
              .imgBox {
                overflow: hidden;
                position: relative;
                &:before {
                  display: block;
                  padding-top: 100%;
                  content: "";
                }
                img {
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  top: 0;
                  left: 0;
                  transition: all 0.7s ease;
                  object-fit: cover;
                }
              }
              .desc {
                margin-top: 30px;
                .title {
                  display: block;
                  overflow: hidden;
                  margin-bottom: 20px;
                  font-size: clamp(18px, 1.2vw, 22px);
                  font-weight: 700;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  word-break: break-all;
                }
                p {
                  display: -webkit-box;
                  height: 3em;
                  overflow: hidden;
                  margin-bottom: 40px;
                  font-size: clamp(15px, 1vw, 18px);
                  font-weight: 400;
                  color: #666;
                  line-height: 1.5;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2;
                }
                .date {
                  font-family: "Montserrat", sans-serif;
                  font-size: clamp(12px, 0.8vw, 15px);
                  font-weight: 600;
                  color: #bbb;
                }
              }
            }
          }
        }
      }
    }
    #sns {
      .title {
        margin-bottom: 40px;
      }
      .snsMain a {
        .imgBox {
          position: relative;
          &:before {
            display: block;
            padding-top: 100%;
            content: "";
          }
          img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            border-radius: 100%;
          }
        }
        .desc {
          margin-top: 30px;
          font-size: clamp(18px, 1.2vw, 22px);
          font-weight: 700;
          text-align: center;
          line-height: 1.5;
        }
      }
      .snsList {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        li:not(:last-child) {
          margin-right: 30px;
        }
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: clamp(40px, 3.3vw, 60px);
          height: clamp(40px, 3.3vw, 60px);
          border: 1px solid #ddd;
          transition: all 0.25s ease-in-out;
          border-radius: 50%;
          &:hover {
            border-color: #000;
            background-color: #000;
            i {
              color: #fff;
            }
          }
          i {
            font-size: clamp(18px, 1.2vw, 23px);
            font-weight: 900;
            color: #aaa;
            transition: all 0.25s ease-in-out;
          }
        }
      }
    }
  }
}

@keyframes arrowAni {
  0% {
    right: 20px;
    opacity: 0.5;
  }
  50% {
    right: 70px;
    opacity: 0;
  }
  100% {
    right: 50px;
    opacity: 1;
  }
}
@media all and(max-width:1870px) {
  #recommend .container .inner .tagList {
    justify-content: flex-end;
    padding-left: 80px;
  }
}

@media all and(max-width:1690px) {
  .subtitle {
    font-size: clamp(40px, 2.9vw, 48px);
    line-height: clamp(50px, 3.5vw, 60px);
  }
  #update .container #new .search {
    ul li {
      a {
        height: clamp(90px, 6.5vw, 110px);
        line-height: clamp(90px, 6.5vw, 110px);
        .textBox {
          font-size: clamp(20px, 1.3vw, 22px);
        }
      }
    }
  }
  #recommend .container .inner {
    .tagList {
      flex-direction: column;
      font-size: clamp(10px, 1.1vw, 18px);
    }
  }
}
@media all and(max-width:1500px) {
  #mainVisual {
    padding-top: 100px;
    .swiper ul li {
      height: 60vh;
      .textBox {
        h2 {
          font-size: clamp(50px, 4.6vw, 70px);
        }
        p {
          font-size: clamp(14px, 1.1vw, 17px);
        }
        a span {
          font-size: clamp(15px, 1.2vw, 18px);
        }
      }
    }
  }
  #update .nav {
    button .material-icons {
      font-size: clamp(30px, 2.6vw, 40px);
    }
    .pagination span {
      font-size: clamp(18px, 1.4vw, 22px);
    }
  }
  #business .container {
    .titleBox .title {
      h2 {
        font-size: clamp(45px, 3.6vw, 55px);
      }
      &:before {
        width: clamp(6px, 0.6vw, 9px);
        height: clamp(6px, 0.6vw, 9px);
      }
    }
    .pannel .contentsWrap {
      .textBox {
        p {
          font-size: clamp(14px, 1.2vw, 18px);
        }
        a {
          padding: clamp(15px, 1.3vw, 20px) clamp(20px, 1.6vw, 25px);
          font-size: clamp(11px, 1vw, 15px);
        }
      }
    }
  }
  #recommend .container .inner .bar {
    height: clamp(80px, 6vw, 90px);
    .list li {
      .selectBtn {
        height: clamp(80px, 6vw, 90px);
        &:after {
          font-size: clamp(24px, 2vw, 30px);
        }
        span {
          font-size: clamp(16px, 1.3vw, 20px);
        }
      }
      .selectList li {
        font-size: clamp(16px, 1.3vw, 20px);
      }
    }
    .textBox input {
      font-size: clamp(16px, 1.3vw, 20px);
    }
    .search button {
      font-size: clamp(16px, 1.3vw, 20px);
    }
  }
}
@media all and(max-width:1200px) {
  #mainVisual .swiper ul li {
    height: 50vh;
  }
}
@media all and(max-width:1025px) {
  #mainVisual {
    padding-top: 0;
    .swiper ul li {
      height: 100vh;
      .textBox {
        h2 {
          font-size: 60px;
        }
        p {
          font-size: 21px;
        }
        a span {
          font-size: 16px;
        }
      }
    }
    .btns {
      display: none;
    }
  }
}
@media all and(max-width:910px) {
  #recommend .container .inner {
    .bar {
      position: relative;
      .list {
        flex-basis: 25%;
      }
      .textBox {
        flex-grow: 1;
        border-radius: 100px;
      }
      .search {
        flex-basis: 0;
        .searchBtn {
          display: none;
        }
        .mobileSearchBtn {
          display: block;
          position: absolute;
          top: 50%;
          right: 40px;
          transform: translateY(-50%);
          .material-icons {
            font-size: 30px;
            font-weight: 700;
            color: #000;
          }
        }
      }
    }
    .tagList {
      display: none;
    }
  }
}
@media all and(max-width:860px) {
  .subtitle {
    font-size: clamp(28px, 4.6vw, 40px);
    line-height: clamp(35px, 5.8vw, 50px);
  }
  #mainVisual .swiper ul li .textBox {
    h2 {
      font-size: clamp(40px, 7vw, 61px);
    }
    p {
      font-size: clamp(13px, 2.3vw, 20px);
    }
    a span {
      font-size: clamp(12px, 2vw, 18px);
    }
  }
  #update .container {
    #new .search {
      border: none;
      border-radius: 0;
      &:hover {
        background-color: none;
      }
      ul li {
        a {
          width: 100vw;
          height: auto;
          padding: clamp(40px, 6.9vw, 60px) clamp(20px, 4.6vw, 40px);
          line-height: 2;
          background-color: #000;
          .textBox {
            flex-direction: column;
            .title {
              width: 100%;
              margin-left: 0;
              padding-right: 0;
              font-size: clamp(14px, 2.5vw, 22px);
              font-weight: 700;
              color: #fff;
              &:after {
                display: none;
              }
            }
            .desc {
              margin-left: 0;
              font-size: clamp(14px, 2.5vw, 22px);
              font-weight: 400;
              color: #fff;
            }
          }
          &:after {
            display: none;
          }
        }
      }
    }
    .nav {
      top: 20%;
      button .material-icons {
        font-size: clamp(28px, 4.6vw, 40px);
      }
      .pagination span {
        font-size: clamp(18px, 1.4vw, 22px);
      }
    }
  }
  #business .container {
    .titleBox .title {
      h2 {
        font-size: clamp(30px, 5.3vw, 46px);
      }
      &:before {
        width: clamp(6px, 0.6vw, 9px);
        height: clamp(6px, 0.6vw, 9px);
      }
    }
    .pannel .contentsWrap {
      .textBox {
        p {
          font-size: clamp(12px, 1.9vw, 17px);
          line-height: 2;
        }
      }
      .contents .list {
        justify-content: space-between;
        li {
          width: calc(50% - 34px);
          margin-right: 0;
        }
      }
    }
  }
  #recommend .container .inner .bar .list li .selectBtn {
    padding: 0 clamp(20px, 4.6vw, 40px);
  }
  #newsSns .container {
    flex-direction: column;
    .title {
      h2 {
        font-size: clamp(26px, 4.5vw, 39px);
      }
      a {
        font-size: clamp(12px, 2vw, 18px);
      }
    }
    #news .mainNews .newsList {
      justify-content: space-between;
      li a {
        width: clamp(240px, 44vw, 380px);
        &:hover img {
          transform: scale(0);
        }
        .desc {
          .title {
            font-size: clamp(16px, 2.7vw, 24px);
          }
          p {
            font-size: clamp(13px, 2.3vw, 20px);
          }
          .date {
            font-size: clamp(11px, 1.9vw, 17px);
          }
        }
      }
    }
    #sns {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 130px;
      .title {
        position: relative;
        h2:after {
          content: " CHANNEL";
        }
      }
      .snsMain a .desc {
        font-size: clamp(16px, 2.7vw, 24px);
      }
      .snsList li {
        position: relative;
        &::after {
          width: 1px;
          height: 10px;
          position: absolute;
          top: 50%;
          right: -15px;
          transform: translateY(-50%);
          content: "";
          background-color: #ddd;
        }
        &:nth-child(3):after {
          display: none;
        }
        a {
          width: clamp(37px, 3.3vw, 60px);
          height: clamp(37px, 3.3vw, 60px);
          border: none;
          &:hover {
            border-color: none;
            background-color: none;
            i {
              color: #aaa;
            }
          }
        }
      }
    }
  }
}
@media all and(max-width:540px) {
  .subtitle {
    font-size: clamp(27px, 8.5vw, 46px);
    line-height: clamp(36px, 10vw, 57px);
  }
  #mainVisual .swiper ul li .textBox {
    padding: 0 20px;
    h2 {
      font-size: clamp(40px, 12vw, 66px);
    }
    p {
      font-size: clamp(16px, 4.8vw, 26px);
    }
    a {
      font-size: clamp(12px, 3.7vw, 20px);
    }
  }
  #update .container {
    #new .search ul li a {
      padding: clamp(29px, 9.2vw, 50px) clamp(19px, 5.9vw, 32px);
      .textBox {
        .title {
          font-size: clamp(15px, 4.8vw, 26px);
        }
        .desc {
          width: 80%;
          font-size: clamp(13px, 4.2vw, 23px);
        }
      }
    }
    .nav {
      align-items: flex-end;
      bottom: -40px;
      button {
        display: none;
      }
    }
  }
  #business .container {
    .titleBox .title {
      h2 {
        font-size: clamp(30px, 9.4vw, 51px);
      }
    }
    .pannel .contentsWrap {
      .textBox {
        p {
          font-size: clamp(13px, 4.2vw, 23px);
          line-height: 2;
        }
        a {
          padding: clamp(16px, 4.6vw, 25px) clamp(32px, 9.2vw, 50px);
          font-size: clamp(11px, 3.7vw, 20px);
        }
      }
      .contents .list {
        flex-direction: column;
        li {
          width: 100%;
          a {
            p {
              font-size: clamp(14px, 4.2vw, 23px);
            }
          }
          .box {
            display: none;
          }
          .medicineHidden {
            display: none;
          }
        }
      }
    }
  }
  #recommend .container .inner .bar {
    .list {
      flex-basis: 35%;
      li {
        .selectBtn {
          padding: 0 clamp(5px, 3.7vw, 20px);
          border-radius: 25px;
          &.open {
            border-radius: 25px 25px 0 0;
          }
        }
        .selectList {
          border-radius: 0 0 25px 25px;
          height: 170px;
          li {
            padding: 10px;
          }
        }
      }
    }
    .textBox {
      padding-left: clamp(10px, 5.5vw, 30px);
    }
    .search .mobileSearchBtn {
      right: clamp(10px, 7.5vw, 40px);
      .material-icons {
        font-size: clamp(20px, 5.5vw, 30px);
      }
    }
  }
  #newsSns .container {
    .title {
      h2 {
        font-size: clamp(25px, 8.3vw, 45px);
      }
      a {
        font-size: clamp(10px, 3.5vw, 19px);
      }
    }
    #news .mainNews .newsList {
      justify-content: space-between;
      li a {
        width: clamp(130px, 42vw, 230px);
        .desc {
          .title {
            font-size: clamp(14px, 4.2vw, 23px);
          }
          p {
            display: none;
          }
          .date {
            font-size: clamp(12px, 3.5vw, 19px);
          }
        }
      }
    }
    #sns {
      .snsMain a .desc {
        font-size: clamp(14px, 4vw, 22px);
      }
      .snsList li {
        a {
          width: clamp(39px, 13vw, 73px);
          height: clamp(39px, 13vw, 73px);
          i {
            font-size: clamp(18px, 5.5vw, 30px);
            color: #aaa;
          }
        }
      }
    }
  }
}
