h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  .material-icons {
    font-size: 40px;
    font-weight: 100;
    color: #ccc;
  }
}

#mainVisual {
  width: 100%;
  position: relative;
  padding-top: 130px;
  ul {
    li {
      width: 100%;
      height: 71.5vh;
      background-position: 50% 50%;
      background-size: cover;
      display: flex;
      &.visual01 video {
        width: 100%;
        object-fit: cover;
      }
      &.visual02 {
        background-image: url(../images/main/mainVisual03.jpg);
      }
      &.visual03 {
        background-image: url(../images/main/mainVisual02.jpg);
      }
      &.visual04 {
        background-image: url(../images/main/mainVisual01.jpg);
      }
      .textBox {
        width: 100%;
        text-align: center;
        margin: 0 auto 80px auto;
        color: #fff;
        user-select: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2 {
          text-transform: uppercase;
          font-size: 70px;
          font-weight: 700;
          pointer-events: none;
          font-family: "Montserrat";
        }
        p {
          margin-top: 30px;
          font-size: 17px;
          line-height: 1.5;
          font-weight: 400;
          pointer-events: none;
        }
        a {
          margin-top: 60px;
          &:hover {
            span:before {
              width: 100%;
              right: 0;
              transition-delay: 0.3s;
            }
            span:after {
              width: 0;
              right: 0;
              transition-delay: 0.1s;
            }
          }
          span {
            font-weight: 600;
            text-transform: uppercase;
            font-size: 18px;
            letter-spacing: -0.05em;
            display: inline-block;
            position: relative;
            &::before {
              content: "";
              background-color: #fff;
              width: 0;
              height: 2px;
              position: absolute;
              bottom: -10px;
              left: 0;
              transition: width 0.15s ease-in-out;
            }
            &::after {
              content: "";
              background-color: #fff;
              width: 100%;
              height: 2px;
              position: absolute;
              bottom: -10px;
              right: 0;
              transition: width 0.15s ease-in-out;
            }
          }
        }
      }
    }
  }
  .btns {
    button {
      position: absolute;
      top: 55%;
      z-index: 100;
      border: 3px solid rgba(230, 230, 230, 0.3);
      width: 48px;
      height: 48px;
      border-radius: 50px;
      background: none;
      transition: all 0.25s ease-in-out;
      &::before {
        font-family: "Material icons";
        font-size: 24px;
        color: rgba(255, 255, 255, 0.5);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20%;
      }
      &:after {
        font-family: "Material icons";
        font-size: 24px;
        color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: none;
      }
      &:hover {
        width: 110px;
        border: 2px solid #fff;
        &::before {
          display: none;
        }
        &::after {
          display: block;
        }
        &.prev span {
          opacity: 1;
          left: 50%;
        }
        &.next span {
          opacity: 1;
          right: 50%;
        }
      }
      &.prev {
        left: 4%;
        &::before {
          content: "\e5cb";
        }
        &::after {
          content: "\e5cb";
          left: 20%;
        }
        span {
          left: 0;
        }
      }
      &.next {
        right: 4%;
        &::before {
          content: "\e5cc";
        }
        &::after {
          content: "\e5cc";
          right: 20%;
        }
        span {
          right: 0;
        }
      }
      span {
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        position: absolute;
        transition: all 0.3s ease;
      }
    }
  }
  .pagination {
    position: absolute;
    bottom: 7.5%;
    text-align: center;
    z-index: 100;
    .swiper-pagination-bullet {
      width: 27px;
      height: 6px;
      border-radius: 0;
      background-color: #fff;
    }
    .swiper-pagination-bullet-active {
      border-radius: 50px;
    }
  }
}

#update {
  .container {
    position: relative;
    margin-top: 100px;
    margin-bottom: 130px;
    .titleNav {
      margin-bottom: 50px;
      font-size: 48px;
      font-weight: 700;
      line-height: 60px;
    }
    #new {
      position: relative;
      .search {
        transition: background-color 0.5s ease-in-out;
        border: 3px solid #000;
        display: block;
        width: 100%;
        height: 110px;
        top: 0;
        left: 0;
        box-sizing: border-box;
        border-radius: 120px;
        z-index: 0;
        pointer-events: none;
        &:hover {
          background-color: #000;
          color: #fff;
        }
        ul {
          li {
            width: 100%;
            a {
              width: 100%;
              display: block;
              height: 110px;
              line-height: 110px;
              .textBox {
                display: flex;
                .title {
                  font-size: 22px;
                  font-weight: 700;
                  margin-left: 70px;
                }
                .desc {
                  font-size: 22px;
                  margin-left: 130px;
                  position: relative;
                  &::before {
                    content: "";
                    display: block;
                    height: 18px;
                    width: 1px;
                    background-color: #ccc;
                    position: absolute;
                    left: -30px;
                    top: 50%;
                    transform: translateY(-50%);
                  }
                }
              }
              &::after {
                content: "\f1df";
                font-family: "Material Icons";
                font-size: 35px;
                position: absolute;
                right: 50px;
                top: 50%;
                transform: translateY(-50%);
                color: #000;
                transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
              }
              &:hover::after {
                color: #fff;
                animation: arrowAni 0.7s 1;
              }
            }
          }
        }
      }
    }
    .nav {
      position: absolute;
      top: 30%;
      right: 0;
      display: flex;
      align-items: center;
      button {
        padding: 0;
      }
      .pagination {
        color: #9a9a9d;
        width: auto;
        font-size: 22px;
        font-weight: 500;
      }
    }
  }
}

#business {
  background-color: #f9f9f9;
  .container {
    padding-top: 130px;
    padding-bottom: 80px;
    .titleBox {
      display: flex;
      margin-bottom: 50px;
      .title {
        &::before {
          content: "";
          display: block;
          width: 9px;
          height: 9px;
          border-radius: 18px;
          background-color: #ccc;
          position: absolute;
          top: -30px;
          left: 50%;
        }
        h2 {
          font-size: 55px;
          color: #ccc;
        }
        &.tradeTitle {
          position: relative;
          margin-right: 40px;
          &.on {
            h2 {
              color: #d6000e;
            }
            &::before {
              background-color: #d6000e;
            }
          }
        }
        &.medicineTitle {
          position: relative;
          &.on {
            h2 {
              color: #2d5ffd;
            }
            &::before {
              background-color: #2d5ffd;
            }
          }
        }
      }
    }
    .pannel {
      display: none;
      &.on {
        display: block;
      }
      .contentsWrap {
        .textBox {
          p {
            font-size: 18px;
            line-height: 1.5;
            margin-bottom: 30px;
          }
          a {
            font-size: 15px;
            padding: 20px 25px;
            border: 3px solid #dddddd;
            box-sizing: border-box;
            font-weight: 700;
            margin-bottom: 80px;
            display: inline-block;
            transition: all 0.5s ease-in-out;
            &:hover {
              border-radius: 150px;
              &.red {
                border-color: #d6000e;
              }
              &.blue {
                border-color: #2d5ffd;
              }
            }
          }
        }
        .contents {
          .list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            li {
              position: relative;
              a {
                &:hover {
                  &.zoom img {
                    transition: all 0.7s ease-in-out;
                    transform: scale(1.05);
                  }
                }
                .imgBox {
                  overflow: hidden;
                }
                p {
                  font-size: 20px;
                  text-align: center;
                  margin: 25px 0 50px 0;
                  font-weight: 500;
                  &.letter {
                    position: absolute;
                    color: #fff;
                    font-weight: 700;
                    line-height: 1.5;
                    font-size: 22px;
                  }
                }
              }
              .box {
                display: block;
                width: 361px;
                height: 361px;
                display: flex;
                justify-content: center;
                align-items: center;
                span {
                  font-weight: 700;
                  font-size: 40px;
                  display: inline-block;
                }
              }
            }
          }
        }
        &#trading {
          .box span {
            color: #d6000e;
          }
          .letter {
            bottom: 20%;
            left: 10%;
            text-align: left;
          }
        }
        &#medicine {
          a {
            .imgBox {
              border-radius: 100%;
              img {
                border-radius: 100%;
                width: 360px;
                height: 360px;
              }
            }
          }
          .box span {
            color: #2d5ffd;
          }
          .letter {
            top: 25%;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
          }
        }
      }
    }
  }
}

@keyframes arrowAni {
  0% {
    opacity: 0.5;
    right: 20px;
  }
  50% {
    opacity: 0;
    right: 70px;
  }
  100% {
    opacity: 1;
    right: 50px;
  }
}
